@font-face {
    font-family: 'knewave';
    src: url('../Fonts/knewave.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 150%;
    box-sizing: border-box;
    background-image: url(../Images/404/Catfond.png);
    background-size: cover;
    
}

.gridOnParentDiv{
    width:100%;
    height:250px;
    display:grid;
    place-content:center;
  }

#vomi {
    border-radius: 30%;
}

h1 {
    text-align: center;
    font-family: 'knewave', sans-serif;
    color: #fcb26e;
    text-shadow: -4px -4px 4px #86613f, 4px -4px 4px #86613f, -4px 4px 4px #86613f, 4px 4px 4px #86613f;
}
