@font-face {
    font-family:
        'knewave';
    src: url(./Fonts/knewave.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(./Images/Fond.jpg);
    background-size: cover;
    text-align: center;
    font-size: 500%;
    font-family: 'knewave';
    color: #fcb26e;
      
}