header {
  text-align: center;
  background-color: rgba(251, 218, 218, 1);
  border: solid 3px;
}

.Logo {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -5px;
  top: -2px;
  background: url(MEDIA_CRUELTY-FREEKITTY_150x@2x.png);
}


.Retour {
  width: 50px;
  margin-right: 1450px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}


body {
  width: 100%;
  text-align: center;
  margin: 0;
  background-image: url(./Images/MicrosoftTeams-image\ \(2\).png);
  background-size: cover;
}

.MyCatRoulette {
  width: auto;

}
#submit {

  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgb(149, 240, 217);
}
#submit:hover {
  background-color: rgb(114, 203, 111);
}
form {
  margin-top: 20px;
}


.FirstName {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}
.LastName {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;

  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Mail {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Pseudo {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#psw {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}
#Mail:hover, #Pseudo:hover, #psw:hover, .FirstName:hover, .LastName:hover{
  background-color: rgb(242, 187, 187, 1);
}

.frame {
  backdrop-filter: blur(50px);
  border-radius: 10%;
  position: relative;
  margin:auto;
  text-align: center;
  width: 300px; 
  box-shadow: 3px 5px 20px 0.5px #000000;
  padding-bottom: 20px;
}


#message {
  margin-top: -370px;
  margin-left: 125px;
  width: 375px;
  height: 375px;
  color: #fff;
  background-image: url(./Images/login2.0.jpg);
  background-size: cover;
  background-position-x: 5px;
  background-position-y: -200px;
  border: none;
  border-radius: 50%; 
  position: relative;
  transition: .3s;
  backdrop-filter: blur(50px);
}

.condition {
  margin-top: 85px;
  margin-left: 35px;
  font-size: 17px;
  position: absolute;
  color: #ffffff;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em #000000, 0 0 0.2em #000000;
}

#message:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 10px;
  border-radius: 50%; 
  background: conic-gradient(
        #F58989 ,
        black 30deg 120deg,
        #CDF6FF 150deg 180deg,
        black 210deg 300deg,
        #F58989 330deg
    );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}
#message:after {
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(200px at left  400px top 150px,#F58989 100%,#0000),
    radial-gradient(200px at right 400px bottom 150px,#CDF6FF 100%,#0000);
  filter: blur(160px);
  opacity: .3;
}

#message:before,
#message:after {
  transition:.5s, 99999s 99999s transform;
}
#message:hover {
  box-shadow: 0 0 0 1px #666;
}

#message:hover:before,
#message:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}
#message:before {
  background-color: #222;
    border: 2px solid #333;
}


.lastName, .firstName, .mail, .pseudo, .password {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
}