.Retour {
    width: 50px;
    height: 48px;
    margin-right: 1450px;
    margin-top: 25px;
    cursor: pointer;
  
    position: relative;
  }

  .mili {
    margin-top: -60px;
  }

  h3 {
    font-family: 'Island Moments', cursive;
    font-size: 53px;
    margin-top: -50px;
  }
  
  header {
    text-align: center;
    background-color: rgba(251, 218, 218, 1);
    border: solid 3px;
  

  }
  .Logo {
    position: absolute;
    width: 85px;
    height: 85px;
    left: -5px;
    top: -2px;
    cursor: pointer;
    top: -10px;
  }
  
  .MyCatRoulette {
    width: auto;
  }
  
  body {
    width: 100%;
    text-align: center;
    margin: 0;
    background-image: url(./Images/MicrosoftTeams-image\ \(2\).png);
    background-size: cover;
 }

.confi {
    margin-left: -480px;
    margin-top: -138px;
}

.notif {
    margin-left: -175px;
    margin-top: 53px;

}

.paramètre {
    margin-left: 145px;
    margin-top: -90px;
}

.profil {
    margin-left: 440px;
    margin-top: 54px;
}

.home {
  margin-left: 750px;
    margin-top: -92px;
}

section {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    margin-top: -500px;
    /* overflow: hidden; */
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
  .slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;  /* <===  */
    border-radius: 15px;
  }

  .logotext {
    width: 85px;
    height: 85px;
    margin-top: -115px;
    margin-left: -15px;
    position: absolute;
  }

  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 75px;
    font-size: 50px;
  }

  .container {
    max-width: 130px;
    width: 100%;
    margin-left: 1px;
  }
  
  .navbar {
    width: 10%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 70px;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-right: -60px;
    padding-right: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .logoh {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .btn1 {
      display:inline-block;
      vertical-align:middle;
      text-align:center;
      cursor:pointer;
      margin-left: -150px;
      text-decoration:none;
      border:rgba(254, 238, 238, 1) 3px solid;
      background-color:rgba(175, 223, 234, 1);
      color:rgba(254, 238, 238, 1);
      height:50px;
      padding:8px 16px;
      border-radius:10px;
      margin-top: -472px;
      position: absolute;
      width: 300px;
      }
      
      .btn1:hover {
        background: linear-gradient(rgba(254, 238, 238, 1),rgba(254, 238, 238, 1));
        color: rgba(175, 223, 234, 1);
        border-color:rgba(175, 223, 234, 1) ;
      }
      .btn1:focus {
        background: linear-gradient(rgba(175, 223, 234, 1), rgba(175, 223, 234, 1));
        color: rgba(254, 238, 238, 1)
      }

      .btn2 {
        display:inline-block;
        vertical-align:middle;
        text-align:center;
        cursor:pointer;
        margin-left: 543px;
        text-decoration:none;
        border:rgba(254, 238, 238, 1) 3px solid;
        background-color:rgba(175, 223, 234, 1);
        color:rgba(254, 238, 238, 1);
        height:50px;
        padding:8px 16px;
        border-radius:10px;
        margin-top: -440px;
        position: absolute;
        width: 210px;
        }

        .btn2:hover {
          background: linear-gradient(rgba(254, 238, 238, 1),rgba(254, 238, 238, 1));
          color: rgba(175, 223, 234, 1);
          border-color:rgba(175, 223, 234, 1) ;
        }
        .btn2:focus {
          background: linear-gradient(rgba(175, 223, 234, 1), rgba(175, 223, 234, 1));
          color: rgba(254, 238, 238, 1)
        }

        html { overflow-y: hidden;

        }
        html {
            overflow-x: hidden;
        }
        main {
            overflow-y: hidden;
        }
        main {
            overflow-y: auto
        }

      .lien {
        text-decoration:none;
        color:rgba(240, 96, 116, 1);
      }