header{
    text-align: center;
    background-color: rgba(251, 218, 218, 1);
    border: solid 3px;
  }
.Logo{
    position: absolute;
    width: 85px;
    height: 85px;
    left: -5px;
    top: -2px;
    cursor: pointer;
  }
  .Retour {
    width: 50px;
    margin-left: -750px;
    margin-top: 25px;
    cursor: pointer;
  
    position: absolute;
  }
  body {
    text-align: center;
    margin: 0;
    background-image: url(./Images/MicrosoftTeams-image\ \(2\).png);
    background-size: cover;}

    .sect1{
position: absolute;
width: 380px;
height: 600px;
left: 1020px;
top: 100px;
background: #FDEEEE;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
border-radius: 25px;
    }
    .sect2{
position: absolute;
width: 350px;
height: 550px;
left: 1035px;
top: 125px;

background: #CDF6FF;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
border-radius: 25px;
    }

    .sect3{
      position: absolute;
width: 330px;
height: 520px;
left: 1045px;
top: 140px;

background: #ffffff;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
border-radius: 25px;
    }
  
.MyCatRoulette{
    width: auto;
}


.profil{
width: 150px;
top: 120px;
left: 700px;
box-sizing: border-box;
position: absolute;
border: 5px solid #CDF6FF;
border-radius: 5px 5px 5px 5px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.text{
position: absolute;
width: 169px;
height: 40px;
left: 691px;
top: 320px;
background: #FDEEEE;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
border-radius: 25px;

}
.text2{

  position: absolute;
width: 151px;
height: 34px;
left: 700px;
top: 322px;
background: #CDF6FF;
border-radius: 25px;

}

.text3{

  position: absolute;
width: 142px;
height: 25px;
left: 705px;
top: 326px;
background: #FFFFFF;
border-radius: 25px;

}

.textage{
position: absolute;
width: 169px;
height: 40px;
left: 691px;
top: 380px;
background: #FDEEEE;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
border-radius: 25px;
}

.textage2{
position: absolute;
width: 151px;
height: 34px;
left: 700px;
top: 382px;
background: #CDF6FF;
border-radius: 25px;
}

.textage3{
position: absolute;
width: 142px;
height: 25px;
left: 705px;
top: 386px;
background: #FFFFFF;
border-radius: 25px;
}

.texto{
  position: absolute;
  width: 169px;
  height: 40px;
  left: 691px;
  top: 440px;
  background: #FDEEEE;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.texto2{
  position: absolute;
  width: 151px;
  height: 34px;
  left: 700px;
  top: 442px;
  background: #CDF6FF;
  border-radius: 25px; 
}

.texto3{
  position: absolute;
  width: 142px;
  height: 25px;
  left: 705px;
  top: 446px;
  background: #FFFFFF;
  border-radius: 25px; 
}
.bio{
  position: absolute;
  width: 220px;
  height: 220px;
  left: 669px;
  top: 500px;
  background: #FDEEEE;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.bio2{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 679px;
  top: 510px;
  background: #CDF6FF;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.bio3{
  position: absolute;
  width: 190px;
  height: 190px;
  left: 684px;
  top: 515px;
  background: #ffffff;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.biographie{
  position: absolute;
  text-align: justify;
  font-size: 12px;
  left: 695px;
  top: 515px;
}

.photo{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 120px;
  top: 200px;
  background: #FDEEEE;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 25px; 
}
.photo2{
  position: absolute;
  width: 180px;
  height: 34px;
  left: 130px;
  top: 210px;
  background: #CDF6FF;
  border-radius: 25px;  
}

.photo3{
  position: absolute;
  width: 160px;
  height: 25px;
  left: 140px;
  top: 214px;
  background: #ffffff;
  border-radius: 25px;
}

.galerie{
position: absolute;
width: 450px;
height: 300px;
left: 30px;
top: 280px;
background: #FDEEEE;
box-shadow: 0px 4px 4px #AFDFEA;
border-radius: 4px 0px 0px 4px;
}
.p{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 80px;
  border: solid 1px black;
}
.p2{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 200px;
  border: solid 1px black;
}
.p3{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 320px;
  border: solid 1px black;
}
.p4{
  position: absolute;
  width: 100px;
  height: 80px;
  left: 80px;
  top: 400px;
  border: solid 1px black;
}
.chat-box{
  position: absolute;
  left: 1050px;
}
.ecrire{
  position: absolute;
  width: 250px;
  left: 12px;
  top: 320px;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 5px  #AFDFEA;
  background-color:  white ;
  border: solid 1px grey ;
  padding: 3px 3px 3px 3px;
}
.ecrire:hover{
  border-radius: 4px;
  box-shadow: 1px 1px 20px 5px  #F2BBBB;;
  background-color:  white ;
  border: solid 1px grey ;
  padding: 3px 3px 3px 3px;
}

.ecrire:focus{
color: white;

  border-radius: 4px;
  box-shadow: 1px 1px 20px 5px  #F2BBBB;;
  background-color:  #AFDFEA ;
  border: inset 1px grey ;
  padding: 3px 3px 3px 3px;
}


#reponse{
  top: 100px;
}
.ami1{
position: absolute;
width: 275px;
height: 40px;
left: 1070px;
top: 150px;
background: #AFDFEA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px 0px 0px 9px;

}
.s1{
position: absolute;
width: 200px;
height: 30px;
left: 1100px;
top: 155px;
background: #FFFFFF;
border-radius: 4px;

}

.chat1{
position: absolute;
width: 34px;
height: 34px;
left: 1075px;
top: 152px;
background: url(1000_F_572479992_jhEEDSz8bVMyp3bYLUsZdIqk0LrFgCw4);
border-radius: 23.5px;

}
.ami2{
  position: absolute;
  width: 275px;
  height: 40px;
  left: 1070px;
  top: 200px;
  background: #AFDFEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px 0px 0px 9px;
  
  }

.s2{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 1100px;
    top: 205px;
    background: #FFFFFF;
    border-radius: 4px;
    
}
<<<<<<< HEAD

.rectanglecou{
  position: absolute;
  width: 450px;
  height: 100px;
  left: 30px;
  top: 610px;
  background: #FDEEEE;
  box-shadow: 3px 3px 3px 3px #AFDFEA;
  border-radius: 25px;
  }

  .photon {
    position: absolute;
    width: 100px;
    height: 80px;
    left: 80px;
    bottom: 42px;
    border: solid 1px black;
  }
=======
.chat2{
position: absolute;
width: 34px;
height: 34px;
left: 1075px;
top: 202px;
background: url(Images/Charlos.png);
border-radius: 17px;

}
>>>>>>> 405e6e309a74ffa9fbfb5b3e199b43f604a13d44
