.body {
    background-image: url(Images/MicrosoftTeams-image\ \(2\).png);
    background-size: cover;
}

.Logo {
    position: absolute;
    width: 85px;
    height: 85px;
    left: -5px;
    top: -2px;
}


.boxP {
position: absolute;
width: 900px;
height: 828px;
left: 450px;
top: 102px;

background: rgba(252, 252, 252, 0.60);
box-shadow: 0px 0px 30px rgba(170, 170, 170, 0.16), 0px 10px 20px rgba(194, 194, 194, 0.16);
border-radius: 10px;
}

.boxS{
position: absolute;
width: 259px;
height: 828px;
left: -275px;

background: rgba(252, 252, 252, 0.60);
box-shadow: 0px 0px 30px rgba(170, 170, 170, 0.16);
border-radius: 10px;


}

.borderIcon {
    border: solid 3px red;
    border-radius: 25%;
    margin-left: 81%;
    position: absolute;
    width: 2.5%;
    height: 4.5%;
}

.msgBienvenue {
    text-align: right;
    margin-right: 11.7%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 75, 75);
}

.user {
    text-align: right;
    margin-top: -0.5%;
    margin-right: 12.6%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

