header{
    text-align: center;
    background-color: rgba(245, 137, 137, 0.14);
    margin: -20px;
    background: solid;
    
}

#Logo{
position: absolute;
width: 85px;
height: 85px;
left: -5px;
top: -10px;
background: url(MEDIA_CRUELTY-FREEKITTY_150x@2x.png);
}
