header {
  text-align: center;
  background-color: rgba(251, 218, 218, 1);
  margin: -20px;
  border: solid 3px;
}



.Logo {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -5px;
  top: -10px;
}

.Retour {
  width: 50px;
  height: 48px;
  margin-right: 1450px;
  margin-top: 10px;
  cursor: pointer;

  position: relative;
}


body {
  width: 100%;
  text-align: center;
  margin: 0;
  background-image: url(./image/pngtree-sky-bright-pastel-colors-summer-tropical-background-sky-bright-pastel-colors-photo-image_2160264.jpg);
  background-size: cover;
}

.MyCatRoulette {
  width: auto;

}
.valid {

  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

form {
  margin-top: 20px;
}

.FirstName {
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}
.LastName {
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;

  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Mail {
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Pseudo {
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#psw {
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}