header {
  background-color: rgba(251, 218, 218, 1);
  text-align: center;
  border: solid 2px;
}



.Logo {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -5px;
  top: -10px;
}

.Retour {
  width: 50px;
  height: 48px;
  margin-right: 1450px;
  margin-top: 10px;
  cursor: pointer;

  position: relative;
}


body {
  width: 100%;
  text-align: center;
  margin: 0;
  background-image: url(./image/pngtree-sky-bright-pastel-colors-summer-tropical-background-sky-bright-pastel-colors-photo-image_2160264.jpg);
  background-size: cover;
}

.MyCatRoulette {
  width: auto;

}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

.valid {
  color: green;
}

form {
  margin-top: 20px;
}

.FirstName {
  border: solid 1px;
  border-radius: 100px;
  background-color: aqua;
}