header {
  text-align: center;
  background-color: rgba(251, 218, 218, 1);
  border: solid 3px;
}



.Logo {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -5px;
  top: -2px;
  cursor: pointer;
}

.Retour {
  width: 50px;
  height: 48px;
  margin-right: 1450px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}


body {
  width: 100%;
  text-align: center;
  margin: 0;
  background-image: url(./image/pngtree-sky-bright-pastel-colors-summer-tropical-background-sky-bright-pastel-colors-photo-image_2160264.jpg);
  background-size: cover;
}

.MyCatRoulette {
  width: auto;

}
#submit {

  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgb(149, 240, 217);
}
#submit:hover {
  background-color: rgb(114, 203, 111);
}
form {
  margin-top: 20px;
}

.FirstName {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}
.LastName {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;

  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Mail {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#Pseudo {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}

#psw {
  text-align: center;
  box-sizing: border-box 10px;
  transition: background-color .3s, box-shadow .3s;


  filter: drop-shadow(0.5px -0.5px 1.6px #000000);
  border-radius: 1000px;

  filter: drop-shadow(0.5px -0.5pgit add x 1.6px #000000);
  border-radius: 1000px;
  width: 175px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 100px;
  background-color: rgba(224, 239, 254, 1);
}
#Mail:hover, #Pseudo:hover, #psw:hover, .FirstName:hover, .LastName:hover{
  background-color: rgb(242, 187, 187, 1);
}

.frame {
  border-radius: 10%;
  position: relative;
  margin:auto;
  text-align: center;
  width: 300px; 
  box-shadow: 1px 1px 1px 1px #000000;
  background: rgba(255, 255, 255, 0.525);
  padding-bottom: 20px;
}

#message{
  margin: auto;
  background: rgba(123, 213, 255, 0.404);
  position: absolute;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
  left: 250px;
  top: 250px;
  padding-left: 20px;
  padding-right: 20px;
}
input[type="submit"] {
font-size: 150%;
}
