.frame {
  width: 100%;
  height: 80px;
  border: 3px solid #000000;
  background: rgb(255, 216, 216);
  margin: -20px;
  padding: 4px 25px;
}

#logo {
  width: 105px;
  height: 105px;
  margin-left: -20px;
  margin-top: -10px;
}

h1 {
  margin-left: -30px;
  margin-top: -75px;
  text-align: center;
}

body {
  background-image: url(../Images/MicrosoftTeams-image\ \(2\).png);
  background-size: cover;
  overflow: hidden;
}

.mentions {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  border: solid 3px;
  margin-right: 250px;
  margin-left: 250px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}