@font-face {
    font-family: 'knewave';
    src: url('../Fonts/knewave.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 150%;
    box-sizing: border-box;
    background-color: rgb(110, 188, 215);

}


#vomi {
    border-radius: 30%;
}

h1 {
    text-align: center;
    font-family: 'knewave', sans-serif;
    color: #fcb26e;
    text-shadow: -4px -4px 4px #86613f, 4px -4px 4px #86613f, -4px 4px 4px #86613f, 4px 4px 4px #86613f;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -8px;
    

}

#fuck {
    width: 15%;
    height: 15%;
    align-self: flex-start;

}

#vomi_img {
    width: 8%;
    height: 8%;
    border-radius: 20%;
    margin-top: -25px;

}

p {
    text-align: center;
    font-size: 200%;
    margin-top: -5px;
    font-family: 'knewave', sans-serif;
    color: #fcb26e;
    text-shadow: -4px -4px 4px #86613f, 4px -4px 4px #86613f, -4px 4px 4px #86613f, 4px 4px 4px #86613f;

}

#poteau {
    width: 12%;
    height: 12%;
    justify-content: flex-end;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#moche {
    width: 15%;
    height: 15%;
    align-self: flex-start;
    
}

#louche {
    width: 20%;
    height: 20%;

}

#triste {
    width: 15%;
    height: 15%;
    align-self: flex-end;

}