@font-face {
    font-family: 'knewave';
    src: url('../Fonts/knewave.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../Images/MicrosoftTeams-image (2).png");
    background-size: cover;
}

header {
    text-align: center;
    font-size: 800%;
    font-family: 'knewave', sans-serif;
    color: #fcb26e;
    text-shadow: -4px -4px 4px #86613f, 4px -4px 4px #86613f, -4px 4px 4px #86613f, 4px 4px 4px #86613f;
}

img {
    max-width: 100%;
}

.img-left {
    order: 1;
    margin-left: 3%;
    border-radius: 40%;
}

.img-center {
    order: 2;
    margin-left: 10%;
    border-radius: 45%;
}

.img-right {
    order: 3;
    margin-left: 7.5%;
    border-radius: 40%;
}

img {
    margin-top: 40px;
    width: 25%;
    height: auto;
}